* {
    background-color: rgb(177, 175, 175);
}

#component{
    align-self: center;
    border-radius: 25px;
    max-width: fit-content;
    margin: auto;
    margin-top: 10rem;
    background-color: white;
    padding: 10px;
}

#QR-code{
    max-width: 250px;
    max-height: 250px;
    align-content: center;
    border-radius: 25px;
}

#p1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    max-width:175px;
    margin-left: auto;
    margin-right: auto;
}

#p2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    background-color: white;
    text-align: center;
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;
}

.attribution{
    text-align: center;
}